<style>
    table, th, td {
        border:1px solid black;
    }
</style>

<h1>Portfolio Page</h1>

<ul>
    <li><a href="./portfolio/new">New Position</a></li>
</ul>

<table>
    <tr>
        <th>Cryptocurrency</th>
        <th>Purchase Date</th>
        <th>Purchase Price</th>
        <th>Quantity</th>
        <th>Total Value</th>
        <th> </th>
        <th> </th>
    </tr>
    <% positions.forEach(element => { %>
        <tr>
            <td><%= element.asset %></td>
            <td><%= element.purchaseDate %></td>
            <td>$<%= element.purchasePrice %></td>
            <td>$<%= element.quantity %></td>
            <td>$<%= element.amount %></td>
            <td><a href="./portfolio/edit">Edit</a></td>
            <td><a href="./portfolio/delete">Delete</a></td>
        </tr>
    <% }) %>
</table>
