<link rel="stylesheet" href="../public/css/style.css"/>
<% let dollarUSLocale = Intl.NumberFormat('en-US') %>

<h1>Crypto Index Page</h1>

<style>
    table, th, td {
        border:1px solid black;
    }
</style>

<table>
    <tr>
        <th>Cryptocurrency</th>
        <th>Symbol</th>
        <th>Price(USD)</th>
        <th>Previous Hour Volume(USD)</th>
        <th>Previous Day Volume(USD)</th>
        <th>Previous Month Volume</th>
    </tr>
    <% cryptoList.forEach(element => { %>
        <% if(element.type_is_crypto === 1 && element.price_usd) { %>
            <tr>
                <td><a href="/cryptos/<%= element.asset_id %>"><%= element.name %></a></td>
                <td><%= element.asset_id %></td>
                <td>$<%= dollarUSLocale.format(element.price_usd) %></td>
                <td>$<%= dollarUSLocale.format(element.volume_1hrs_usd) %></td>
                <td>$<%= dollarUSLocale.format(element.volume_1day_usd) %></td>
                <td>$<%= dollarUSLocale.format(element.volume_1mth_usd) %></td>
                <td>
                    <form method="POST" action="/users/favorites/<%= element.asset_id %>">
                        <input type="submit" value="Add to Favorites">
                    </form>
                </td>
            </tr>
       <% } %>
    <% }) %>
</table>
